<app-task *ngFor="let task of tasks" [task]="task">
  <span class="id">{{ task.id }} </span>
  <h3 class="title">{{ task.title }}</h3>
</app-task>

<button type="button"
        class="btn btn-success"
        (click)="addTask()">Add Task
</button>
<button type="button"
        class="btn btn-danger"
        (click)="deleteTask()">Clear Tasks
</button>
